@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                If you have any questions about this web page please contact me at this 
                <a href="mailto:mauro.baresic@fer.hr?Subject=TimeTracking%20WebApp">email</a>.
            </p>
        </div>
    </section>
}


